@model MvcEasyOrderSystem.Models.Order

<tr>

    <td>
        @Html.DisplayFor(model => model.OrderDateTime)
    </td>
    <td>
        @Html.DisplayFor(model => model.RequireDateTime)
    </td>
    <td>
        @Html.DisplayFor(model => model.ReadyDateTime)
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalPrice)
    </td>
    <td>
        @Html.DisplayFor(model => model.Status.StatusName)
    </td>
    <td>
        @Html.DisplayFor(model => model.Address_AddFull)
    </td>
    <td>
        @Html.DisplayFor(model => model.CollectDateTime)
    </td>
    <td>
        @if (ViewBag.ShowEdit == true)
        {
            @Html.ActionLink("更新", "Edit", new { id = Model.OrderId }) <text>|</text>
            @Html.ActionLink("訂單資料", "Details", new { id = Model.OrderId }) <text>|</text>
        }
@*            
            @Html.ActionLink("Delete", "Delete", new { id = Model.OrderId }) |*@
        @Ajax.ActionLink("訂單明細", "OrderDetail", new { orderId = Model.OrderId }, new AjaxOptions()
            {
                UpdateTargetId = "orderDetail",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace
            })
    </td>
</tr>
