@model MvcEasyOrderSystem.ViewModels.UpdateOrderViewModel

@{
    ViewBag.Title = "更新";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        @Html.HiddenFor(model => model.Order.OrderId)


        <div class="editor-label">
            @Html.LabelFor(model => model.Order.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order.Comment)
            @Html.ValidationMessageFor(model => model.Order.Comment)
        </div>

      

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Status,"StatusId", "StatusName"))
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <p>
            <input type="submit" value="更新" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("回到清單", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
