@model IEnumerable<MvcEasyOrderSystem.Models.Order>

@*@{
    ViewBag.Title = ViewBag.Header;
}*@

@section menu{

    <ul>
        <li class="title">訂單分類</li>
    @Html.Action("CollectionMethodOrderMenu")
    </ul>



    <ul>
        <li class="title">狀態分類</li>

        @Html.Action("StatusOrderMenu")
    </ul>

}



<div>
    @Html.ActionLink("顯示所有訂單", "Index")

</div>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequireDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyDateTime)
            </th>
            <th id="tablePrice">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th id="tableStatusName">
                @Html.DisplayNameFor(model => model.Status.StatusName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address_AddFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectDateTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Html.RenderPartial("_EachOrder", item);
        }

    </tbody>
</table>

<div id="loading">
    <img src="@Url.Content("~/Content/Img/ajax-loader.gif")" alt="載入中..." />
</div>

<div id="ajax-orderDetail">
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}