@model IEnumerable<MvcEasyOrderSystem.Models.Order>

@{
    ViewBag.Title = ViewBag.Header;
}

@section menu{
    <div>    
    @Html.Action("CollectionMethodOrderMenu")
        </div>
    <div>
        @Html.Action("StatusOrderMenu")
    </div>
}

@section content{

    <h2>@ViewBag.Header</h2>

        <div>
        @Html.ActionLink("顯示所有訂單", "Index")

    </div>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequireDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReadyDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status.StatusName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Address_AddFull)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CollectDateTime)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Html.RenderPartial("_EachOrder", item);
            }

        </tbody>
    </table>
    <div id="orderDetail">
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}