@model MvcEasyOrderSystem.Models.ShoppingCart

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>確定要從購物車裏面刪除這到菜?</h3>
<fieldset>
    <legend>ShoppingCart</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MealId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MealId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MealName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MealName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="刪除" /> |
        @Html.ActionLink("回到清單", "Index")
    </p>
}
