@model MvcEasyOrderSystem.Models.Meal

    <article class="meal">

        <div class="meal-picture">
            @Html.DisplayFor(modelItem => modelItem.Image, new { alt = Model.MealName + "圖片" })
        </div>
        <div class="meal-detail">
            <section class="meal-info">
                <h2>@Html.DisplayFor(modelItem => modelItem.MealName)</h2>
                <text>類別:</text>
                @Html.ActionLink(Model.Category.CategoryName, "ShowByCategory", new { categoryId = Model.CategoryId })
            </section>
            <section class="meal-restruantInfo">
                <text>餐館:</text>
                @Html.ActionLink(Model.Supplier.CompanyName, "ShowBySupplier", "BrowseBySupplier", new { supplierId = Model.SupplierId }, null)
            </section>
            <div>
                <tex>價格:</tex>@Html.DisplayFor(modelItem => modelItem.Price)
            </div>

            <div>
                @Html.ActionLink("購買", "AddToCart", "ShoppingCart", new { mealId = Model.MealId }, null)
            </div>
        </div>
    </article>