<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - EOS:最簡單訂單系統</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/default.css")
</head>
<body>
    <div id="wrapper">

        <div id="header">
            <h1>@Html.ActionLink("EOS", "Index", "Home")</h1>
            <p class="underH1">最簡單的訂單系統</p>

            <p class="login">
                @*<img src="@Url.Content("~/Content/img/button_cart.gif")" alt="確認購物車內容" />*@
                    @Html.Partial("_LoginPartial")
            </p>


            <ul class="global_navi">
                <li>@Html.ActionLink("瀏覽菜單", "Index", "Home")</li>
                <li>@{ Html.RenderAction("ShoppingCartCount", "ShoppingCart"); }</li>

                @{ if (Request.IsAuthenticated)
                   {
                       if (Roles.Provider.GetRolesForUser(User.Identity.Name).Contains("User"))
                       {
                           Html.RenderPartial("_UserMenuList");
                       }
                       if (Roles.Provider.GetRolesForUser(User.Identity.Name).Contains("Admin"))
                       {
                           Html.RenderPartial("_AdminMenuList");
                       }

                   }
                }

            </ul>
        </div>

        <div id="content" class="clearfix">

                            @RenderSection("fullpage", false)
            

            <div class="leftBox">
                @RenderSection("menu", false)

            </div>

            <div class="wrap clearfix">
            <h3>@ViewBag.Title</h3>                

             @RenderBody()
            </div>

        </div>

        <div id="footer"></div>

    </div>
    @*    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("EOS:最簡單的訂單系統", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("瀏覽菜單", "Index", "Home")</li>
                        <li>@{ Html.RenderAction("ShoppingCartCount", "ShoppingCart"); }</li>

                        @{ if (Request.IsAuthenticated)
                           {
                               if (Roles.Provider.GetRolesForUser(User.Identity.Name).Contains("User"))
                               {
                                   Html.RenderPartial("_UserMenuList");
                               }
                               if (Roles.Provider.GetRolesForUser(User.Identity.Name).Contains("Admin"))
                               {
                                   Html.RenderPartial("_AdminMenuList");
                               }
                               
                           }
                        }

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
            <div class="menu float-left">
                @RenderSection("menu", false)
            </div>
            <div class="content">
                @RenderSection("content", false)
            </div>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - EOS:最簡單訂單系統</p>
            </div>
        </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/EOS.js")
    @RenderSection("scripts", required: false)
</body>
</html>
