@model MvcEasyOrderSystem.ViewModels.ShoppingCartViewModel

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].MealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].UnitPrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].FullPrice)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FullPrice)
                </td>
                <td>
                    @if (ViewBag.ShowEdit == true)
                    {
                        @Html.ActionLink("刪除", "Delete", new { shoppingCartId = item.ShoppingCartId })
                    }
                </td>
            </tr>
        }

    </tbody>

    <tfoot>

        <tr>
            <td>總額:

            </td>
            <td></td>
            <td></td>
            <td>

                @Html.DisplayFor(x => x.TotalPrice)
            </td>

        </tr>
    </tfoot>

</table>
