@model MvcEasyOrderSystem.Models.LocalPasswordModel
@{
    ViewBag.Title = "管理帳戶";
}

@section menu{
    <ul>
        <li class="title">管理個人帳戶</li>
        <li>@Html.ActionLink("修改個人資料", "EditUserInfo")</li>

    </ul>
}


<p class="message-success">@ViewBag.StatusMessage</p>

<p>您已利用 <strong>@User.Identity.Name</strong>. 的身分登入。<br /></p>


    @Html.Partial("_ChangePasswordPartial")



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
