@model MvcEasyOrderSystem.Models.RegisterModel
@{
    ViewBag.Title = "註冊";
}

@section menu{
    <ul>
        @{Html.RenderPartial("_LoginRelatedMenu");}

    </ul>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>註冊表單</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.UserName)

        </div>
        <div class="editor-field">@Html.TextBoxFor(m => m.UserName)</div>

        <div class="editory-label">@Html.LabelFor(m => m.Password)</div>

        <div class="editor-field">@Html.PasswordFor(m => m.Password)</div>

        <div class="editory-label">@Html.LabelFor(m => m.ConfirmPassword)</div>

        <div class="editor-field">@Html.PasswordFor(m => m.ConfirmPassword)</div>



        <div class="editor-label">
            @Html.LabelFor(model => model.Customer.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer.FirstName)
            @Html.ValidationMessageFor(model => model.Customer.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer.LastName)
            @Html.ValidationMessageFor(model => model.Customer.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer.HomeNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer.HomeNo)
            @Html.ValidationMessageFor(model => model.Customer.HomeNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer.MobileNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer.MobileNo)
            @Html.ValidationMessageFor(model => model.Customer.MobileNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer.Address)
            @Html.ValidationMessageFor(model => model.Customer.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer.Email)
            @Html.ValidationMessageFor(model => model.Customer.Email)
        </div>


        <input type="submit" value="註冊" />
    </fieldset>
}

@section Scripts {
    @*    <script>
        $(function () {
           

            $('#Customer_Address_AddFull').focus(function (e) {
                var addCity = $('#Customer_Address_AddCity').val();
                var addDistrict = $('#Customer_Address_AddDistrict').val();
                $(this).val(addCity + addDistrict);

            });
        });
    </script>*@


    @Scripts.Render("~/bundles/jqueryval")
}

