@model IEnumerable<System.Linq.IGrouping<string, MvcEasyOrderSystem.Models.Meal>>

@{
    ViewBag.Title = "所有菜單";
}

@section menu{
    <ul>
        <li class="title">菜單分類</li>
        @Html.Action("CategoryWithCountMenu")

    </ul>
    <ul>
        <li class="title">排行(點即加入購物車)</li>
        @Html.Action("Top10BestSale")
    </ul>
}




<div>
    @using (Ajax.BeginForm("SearchByMealName", new AjaxOptions
            {
                UpdateTargetId = "ajax-update",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loading"
            }))
    {
        <input type="text" name="q" data-autocomplete="@Url.Action("AutoComplete")" />
        <input type="submit" value="搜索" />
    }
</div>

<div>
    @Html.ActionLink("顯示全部菜單", "Index")

</div>

<div id="loading">
    <img src="@Url.Content("~/Content/Img/ajax-loader.gif")" alt="載入中..." />
</div>

@{
        //TODO: checkout the ajax function
}
<div id="ajax-update">
    @{
        Html.RenderPartial("_GroupOfMeal", Model);
            
    }
</div>




@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @*    <script>
        $(function () {
            $(':input[data-autocomplete]').each(function () {
                $(this).autocomplete({ source: $(this).attr('data-autocomplete') });
            });

        });


    </script>*@
}




@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MealId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MealId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MealId })
        </td>
    </tr>
}

</table>*@
