@model MvcEasyOrderSystem.Models.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Supplier</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactTele)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactTele)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SupplierId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
