@model MvcEasyOrderSystem.ViewModels.CreateMealViewModel

@{
    ViewBag.Title = "新增菜單";
}

@section menu{
    <ul>
        <li class="title">菜單功能</li>
        @{Html.RenderPartial("_MealFunctionMenu");}
    </ul>
}

@using (Html.BeginForm("Create", "StoreManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Meal</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MealName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MealName)
            @Html.ValidationMessageFor(model => model.MealName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName"))
            @Html.ValidationMessageFor(model => model.Categories)
        </div>
            <input type="file" name="file" />
        <p>
            <input type="submit" value="創建" />
        </p>
    </fieldset>


@*        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>*@

@*        <div class="editor-label">
            @Html.LabelFor(model => model.SupplierId, "Supplier")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SupplierId", String.Empty)
            @Html.ValidationMessageFor(model => model.SupplierId)
        </div>*@

@*        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>*@




}

<div class="bottomLink">
    @Html.ActionLink("回到清單", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
