@model MvcEasyOrderSystem.Models.Meal

@{
    ViewBag.Title = "詳細";
}

@section menu{
    <ul>
        <li class="title">菜單功能</li>
        @{Html.RenderPartial("_MealFunctionMenu");}
    </ul>
}

<fieldset>
    <legend>Meal</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MealName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MealName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.CategoryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Supplier.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.CompanyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>
</fieldset>
<div class="bottomLink">
    @Html.ActionLink("修改", "Edit", new { id=Model.MealId }) |
    @Html.ActionLink("回到清單", "Index")
</div>
