@model IEnumerable<MvcEasyOrderSystem.Models.Meal>

@{
    ViewBag.Title = "菜單管理";
}

@section menu{
    <ul>
        <li class="title">菜單功能</li>
        @{Html.RenderPartial("_MealFunctionMenu");}
    </ul>
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td style="width:20%;">
            @Html.ActionLink("修改", "Edit", new { id=item.MealId }) |
            @Html.ActionLink("詳細", "Details", new { id=item.MealId })
        </td>
    </tr>
}

</table>
